<!-- ###BUDDYLIST### begin -->
	<table class="tx-hoicommunity-pi1-buddylist-container" cellspacing="0">
		<tr class="tx-hoicommunity-pi1-buddylist-header">
			<td style="width:20px">&nbsp;</td>
			<td>###USERNAME_LABEL###</td>
			<td style="width:40px">&nbsp;</td>
		</tr>

		<!-- ###CONTENT### -->
			<!-- ###BUDDY### -->
				<tr class="tx-hoicommunity-pi1-buddylist-row" id="###ROWID###">
					<td>###STATUSICON###</td>
					<td><!--###LINKTOPROFILE###-->###USERNAME###<!--###LINKTOPROFILE###--></td>
					<td>###ACTIONS###</td>
				</tr>
	   <!-- ###BUDDY### -->
		<!-- ###CONTENT### -->
	</table>
<!-- ###BUDDYLIST### end -->