<!-- ###CHANGEPASSWORD1### begin-->
	<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###" ###FORM_EXTRA###>
		<table class="tx-hoicommunity-pi1-editprofile-container" cellspacing="0">

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###PASSWORD_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="password" class="tx-hoicommunity-pi1-textinput" name="###PASSWORD_FIELD###" ###PASSWORD_EXTRA### /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field">###PASSWORD_STATUS###</td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="button" name="###SUBMIT_FIELD###" value="###SUBMIT_VALUE###" ###SUBMIT_EXTRA### /></td>
			</tr>

		</table>
	</form>
<!-- ###CHANGEPASSWORD1### end-->

<!-- ###CHANGEPASSWORD### begin-->
	<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###" ###FORM_EXTRA###>
		<table class="tx-hoicommunity-pi1-editprofile-container" cellspacing="0">

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###PASSWORD_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="password" class="tx-hoicommunity-pi1-textinput" name="###PASSWORD_FIELD###" ###PASSWORD_EXTRA### /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field">###PASSWORD_STATUS###</td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="submit" name="###SUBMIT_FIELD###" value="###SUBMIT_VALUE###" ###SUBMIT_EXTRA### /></td>
			</tr>

		</table>
	</form>
<!-- ###CHANGEPASSWORD### end-->