<!-- ###IGNORELIST### begin -->
	<table class="tx-hoicommunity-pi1-ignorelist-container" cellspacing="0">
		<tr class="tx-hoicommunity-pi1-ignorelist-header">
			<td style="width:20px">&nbsp;</td>
			<td>###USERNAME_LABEL###</td>
			<td style="width:40px">&nbsp;</td>
		</tr>

		<!-- ###CONTENT### -->
			<!-- ###USER### -->
				<tr class="tx-hoicommunity-pi1-ignorelist-row" id="###ROWID###">
					<td>###STATUSICON###</td>
					<td><!--###LINKTOPROFILE###-->###USERNAME###<!--###LINKTOPROFILE###--></td>
					<td>###ACTIONS###</td>
				</tr>
	   <!-- ###USER### -->
		<!-- ###CONTENT### -->
	</table>
<!-- ###IGNORELIST### end -->