<!-- ###LOGIN### -->
<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
	<input name="###USERNAME_FIELD###" type="text" class="tx-hoicommunity-pi1-textinput" />
	<input name="###PASSWORD_FIELD###" type="password" class="tx-hoicommunity-pi1-textinput" />
	<input name="###SUBMIT_FIELD###" type="submit" value="###SUBMIT_VALUE###" />
	###HIDDEN_FIELDS###
</form>
<!-- ###LOGIN### -->

<!-- ###LOGOUT### -->
<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
	<p>###STATUSTEXT### ###USERNAME###</p>
	<input name="###SUBMIT_FIELD###" type="submit" value="###SUBMIT_VALUE###" />
	###HIDDEN_FIELDS###
</form>
<!-- ###LOGOUT### -->

<!-- ###FORGOTPASSWORD### -->
<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
	###EMAIL_LABEL### <input name="###EMAIL_FIELD###" type="text" class="tx-hoicommunity-pi1-textinput" />
	<input name="###SUBMIT_FIELD###" type="submit" value="###SUBMIT_VALUE###" />
</form>
<!-- ###FORGOTPASSWORD### -->