<!-- ###ONLINEUSERS### begin -->
	<div class="tx-hoicommunity-pi1-onlineusers">
		<!-- ###CONTENT### -->
			<!-- ###USER### -->
				<!--###LINKTOPROFILE###-->###USERNAME###<!--###LINKTOPROFILE###--> |
	   <!-- ###USER### -->
		<!-- ###CONTENT### -->
	</div>
<!-- ###ONLINEUSERS### end -->