<!-- ###REGISTER### begin-->
	<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###" ###FORM_EXTRA###>
		<table class="tx-hoicommunity-pi1-editprofile-container" cellspacing="0">

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###USERNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###USERNAME_FIELD###" ###USERNAME_EXTRA### /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###PASSWORD_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="password" class="tx-hoicommunity-pi1-textinput" name="###PASSWORD_FIELD###" ###PASSWORD_EXTRA### /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field">###PASSWORD_STATUS###</td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###FIRSTNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###FIRSTNAME_FIELD###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###LASTNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###LASTNAME_FIELD###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label">###EMAIL_LABEL###</td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###EMAIL_FIELD###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-editprofile-row">
				<td class="tx-hoicommunity-pi1-editprofile-label"></td>
				<td class="tx-hoicommunity-pi1-editprofile-field"><input type="button" name="###SUBMIT_FIELD###" value="###SUBMIT_VALUE###" onclick="###SUBMIT_ONCLICK###" ###SUBMIT_EXTRA### /></td>
			</tr>

		</table>
	</form>

	<p>###REGISTER_HELP###</p>
<!-- ###REGISTER### end-->