<!-- ###SEARCHFORM### begin-->
	<form action="###FORM_URL###" method="post" enctype="###FORM_ENCTYPE###">
		<table class="tx-hoicommunity-pi1-search-container" cellspacing="0">

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###USERNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###USERNAME_FIELD###" value="###USERNAME_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###FIRSTNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###FIRSTNAME_FIELD###" value="###FIRSTNAME_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###LASTNAME_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###LASTNAME_FIELD###" value="###LASTNAME_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###CITY_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###CITY_FIELD###" value="###CITY_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###COUNTRY_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###COUNTRY_FIELD###" value="###COUNTRY_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###EMAIL_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###EMAIL_FIELD###" value="###EMAIL_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label">###WWW_LABEL###</td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="text" class="tx-hoicommunity-pi1-textinput" name="###WWW_FIELD###" value="###WWW_VALUE###" /></td>
			</tr>

			<tr class="tx-hoicommunity-pi1-search-row">
				<td class="tx-hoicommunity-pi1-search-label"></td>
				<td class="tx-hoicommunity-pi1-search-field"><input type="submit" name="###SUBMIT_FIELD###" value="###SUBMIT_VALUE###" /></td>
			</tr>

		</table>
	</form>
<!-- ###SEARCHFORM### end-->

<!-- ###USERLIST### begin -->
	<table class="tx-hoicommunity-pi1-userlist-container" cellspacing="0">
		<tr class="tx-hoicommunity-pi1-userlist-header">
			<td style="width:20px">&nbsp;</td>
			<td>###USERNAME_LABEL###</td>
			<td style="width:16px">&nbsp;</td>
		</tr>

		<!-- ###CONTENT### -->
			<!-- ###USER### -->
				<tr class="tx-hoicommunity-pi1-userlist-row">
					<td>###STATUSICON###</td>
					<td><!--###LINKTOPROFILE###-->###USERNAME###<!--###LINKTOPROFILE###--></td>
					<td>###ACTIONS###</td>
				</tr>
	   <!-- ###USER### -->
		<!-- ###CONTENT### -->
	</table>
<!-- ###USERLIST### end -->