<!-- ###USERLIST### begin -->

	<div class="tx-hoicommunity-pi1-userlist-letters">###LETTERS###</div>

	<table class="tx-hoicommunity-pi1-userlist-container" cellspacing="0">
		<tr class="tx-hoicommunity-pi1-userlist-header">
			<td style="width:20px">&nbsp;</td>
			<td>###USERNAME_LABEL###</td>
			<td style="width:16px">&nbsp;</td>
		</tr>

		<!-- ###CONTENT### -->
			<!-- ###USER### -->
				<tr class="tx-hoicommunity-pi1-userlist-row">
					<td>###STATUSICON###</td>
					<td><!--###LINKTOPROFILE###-->###USERNAME###<!--###LINKTOPROFILE###--></td>
					<td>###ACTIONS###</td>
				</tr>
	   <!-- ###USER### -->
		<!-- ###CONTENT### -->
	</table>
<!-- ###USERLIST### end -->